{% extends 'base.html' %}

{% block content %}

<style>
    .changeunivbutton { 
        background-color : #5B9BD5; 
        color: white; 
        font-size: 7.5px;
        text-align : center;
        width:50px; height:30px;
        border-radius: 5px;
        border-style : none;
        text-align: center;
    }
</style>

<div class = "container text-center">
    <h1 style="text-align: center">대학생 활동 수정</h1>

    <form action="{% url 'univEdit' univ.id%}" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class='changeunivbutton'> 제출 </button> 
    </form>
</div>
{% endblock %}