{% extends 'base.html' %}

{% block content %}

<style>
    .doublecheckbutton { 
            background-color : #5B9BD5; 
        color: white; 
        font-size: 7.5px;
        text-align : center;
        width:50px; height:30px;
        border-radius: 5px;
        border-style : none;
        text-align: center;
    }
</style>
<div class = "container text-center">
    <br>
    <h3 style="text-align: center">아이디 및 비밀번호 재확인</h3>
    <br>
    <form action="{% url 'change' %}" method="post">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="doublecheckbutton"> 로그인 </button> 
    </form>
</div>
{% endblock %}