{% extends 'base.html' %}

{% block content %}


<h4>팔로워</h4>
    
    <ul class = "list-group">
        <!--{{user.followers.all}}-->
        {% for myfollower in followings %}
        <li>
            {{myfollower.name}}
        </li>
        {% endfor %}
    </ul>
    

<h4>팔로잉</h4>
    
    <ul class = "list-group">
        <!--{{user.followings.all}}-->
        {% for myfollowings in followers %}
        <li>
            {{myfollowings.name}}
        </li>
        {% endfor %}
    </ul>
    
</div>

{% endblock %}
