{% extends 'base.html' %}

{% block content %}

<style>
    a {text-decoration-line:none;}

    #gosignupbutton { 
        color: white; 
        font-size: 5px;
        border-radius: 5px;
        padding: 5px 7.5px; 
        margin: 2px 3px;
        border-style : none;
        background-color: #5B9BD5;
        }
</style>

<div class = "container text-center">
    <br>
    <h3>비밀번호가 유효하지 않습니다. 다시 작성하시오.</h3>
    <br>
    <a href="{%url 'register'%}" id="gosignupbutton">회원가입으로 돌아가기</a>
</div>
{% endblock %} 