{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="text-center alert-primary ">
      <h2 class="mt-5 mb-5 p-5 ">팔로잉 : {{ user.followings.count }}명</h2>
  </div>
  
</div>

<div class="container  alert-primary">
  <div class="row text-center ">
    <div class="col">
      <h3 class="mt-5 mb-5 p-3 alert-info">팔로워</h3>
    </div>
    <div class="col">
      <h3 class="mt-5 mb-5 p-3 alert-light">팔로잉</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="container">
          <h4 class="mr-10 ml-10 mb-5 p-5"> 
            {% with user_followings=user.followings.all %}
                {%for myfollowings in user_followings %}
                {% if user.profile_image %}
                <img src="{{user.profile_image.url}}" alt="사진" width=100px height=100px> 
                {% endif %}
                {{myfollowings.name}} ({{myfollowings.major}}{{myfollowings.studentNum}})
                   <br>
                   <br>
                   {%endfor%}
            {%endwith%}</h4>
          </div>
    </div>
  </div>
</div>

{% endblock %}
