{% extends 'base.html' %}

{% block content %}

<style>
  #custom-border 
  {
    border : 2px solid rgba(91,155,213,0.5);
    border-radius : 6px;
    margin-bottom:10px; 
    padding:5px
  }
  a:link {text-decoration: none; color: gray;}
  a:hover {text-decoration: underline; color: black;}
  a:visited {text-decoration: none; color: gray;}

 

</style>

<div class="container" id="custom-border"style= "width: 100%; height: 50px ;" >
  <a href="{%url 'profile' request.user.id%}">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16" style="float:left; margin-left:5px; margin-top:3px;">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/></svg></a>
  <div class="text-center">
      <p style="font-size:20px; font-weight:bold;">팔로워 : {{ user.followers.all|length }}명</p>
  </div>
  
</div>

<div class="container" id="custom-border">
  <div class="row text-center ">
    <div class="col">
      <h3 class="mt-5 mb-5 p-3" id="custom-border">팔로워</h3>
    </div>
    <div class="col">
      <h3 class="mt-5 mb-5 p-3" id="custom-border" style = "color:gray"><a href="{% url 'see_following' user.id %}">팔로잉</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <div class="container" id="custom-border">
          <h4 class="mr-10 ml-10 mb-5 p-5"> 
            {% with user_followers=user.followers.all %}
                {%for myfollowers in user_followers %}
                {% if myfollowers.profile_image %}
                <img src="{{myfollowers.profile_image.url}}" alt="사진" width=50px height=50px> 
                {% endif %}
                <a href="{%url 'profile' myfollowers.id%}">{{myfollowers.name}} ({{myfollowers.major}}{{myfollowers.studentNum}})</a>
                   <br>
                   <br>
                   {%endfor%}
            {%endwith%}</h4>
          </div>
    </div>
  </div>
</div>

{% endblock %}
