{% extends 'base.html' %}

{% block content %}
<a href="{%url 'home'%}">홈화면</a>
{% if user.is_authenticated %}
<div class = "container">
    <h1>
        {% if user.image %}
        <img src="{{user.image.url}}" alt="사진"> 
        {% endif %}
        {{user.name}}({{user.major}}{{user.studentNum}})</h1>
        <br>
        팔로우 : {{user.followers}} 팔로잉 : {{user.following}}
        {% endif %}
        <br>
        <br>
        경력
        {% for career in careers %}
        <br>
        {{career.company}}
        <br>
        {{career.title}}
        {%endfor%}
        <br>
        <br>
        대학생 활동 경력
        {% for univ in univs %}
        <br>
        {{univ.universityActivity}}
        <br>
        {{univ.universityTitle}}
        {%endfor%}
        <br>
        <br>
        {% for post in posts %}
            <div>
                {{post.body}}
                <br>
                {{post.category}}
                <br>
                {{post.hashtag}}
            </div>
        {%endfor%}
{% endblock %}