{% extends 'base.html' %}

{% block content %}
<a href="{%url 'home'%}">홈화면</a>
{% if user.is_authenticated %}
<a href="{%url 'changeInfo'%}">회원정보 수정</a>
<a href="{%url 'changePW'%}">비밀번호 수정</a>
<a href="{%url 'registerCareer' %}">커리어 추가</a>
<a href="{%url 'registerUniv' %}">대학생 활동 추가</a>
<a href="{%url 'withdraw'%}">회원 탈퇴</a>
<div class = "container">
    <h1>
        {% if user.profile_image %}
        <img src="{{user.profile_image.url}}" alt="사진" width=100px height=100px> 
        {% endif %}
        <br>
        <p>{{user.name}}</p>
        <p>{{user.major}}{{user.studentNum}}</p></h1>
        <br>
        팔로우   팔로잉  
        {% endif %}
        <br>
        <br>
        경력
        {% for career in careers %}
        <br>
        {{career.company}}
        <br>
        {{career.title}}
        {%endfor%}
        <br>
        <br>
        대학생 활동 경력
        {% for univ in univs %}
        <br>
        {{univ.universityActivity}}
        <br>
        {{univ.universityTitle}}
        {%endfor%}
        <br>
        <br>
        {% for post in posts %}
            <div>
                {{post.body}}
                <br>
                {{post.category}}
                <br>
                {{post.hashtag}}
            </div>
        {%endfor%}
{% endblock %}