{% extends 'base.html' %}

{% block content %}
<a href="{%url 'home'%}">홈화면</a>
    <h1>
        {% if customuser.image %}
        <img src="{{customuser.image.url}}" alt="사진"> 
        {% endif %}
        {{customuser.name}}({{customuser.major}}{{customuser.studentNum}})</h1>
        <br>
        팔로우 : {{customuser.followers}} 팔로잉 : {{customuser.following}}
        <br>
        <br>
        경력
        {% for career in careers %}
        <br>
        {{career.company}}
        <br>
        {{career.title}}
        {%endfor%}
        <br>
        <br>
        대학생 활동 경력
        {% for univ in univs %}
        <br>
        {{univ.universityActivity}}
        <br>
        {{univ.universityTitle}}
        {%endfor%}
        <br>
        <br>
        {% for post in posts %}
            <div>
                {{post.author}}{{post.major}}
                <br>
                {{post.body}}
                <br>
                {{post.category}}
                <br>
                {{post.hashtag}}
            </div>
        {%endfor%}
{% endblock %}