{% extends 'base.html' %}

{% block content %}
<a href="{%url 'home'%}">홈화면</a>
    <h1>
        {% if customuser.image %}
        <img src="{{customuser.image.url}}" alt="사진"> 
        {% endif %}
        <p>{{customuser.name}}</p>
        <p>{{customuser.major}}  {{customuser.studentNum}}학번</p></h1>
        <br>
        <h2>팔로우 :  팔로잉 : </h2>
        <br>
        <br>
        <h2>경력</h2>
        {% for career in careers %}
        <br>
        {{career.company}}
        <br>
        {{career.title}}
        {%endfor%}
        <br>
        <br>
        <h2>대학생 활동 경력</h2>
        {% for univ in univs %}
        <br>
        {{univ.universityActivity}}
        <br>
        {{univ.universityTitle}}
        {%endfor%}
        <br>
        <br>
        <h2>게시글</h2>
        {% for post in posts %}
            <div>
                {{post.user}}{{post.major}}
                <br>
                {{post.body}}
                <br>
                {{post.category}}
                <br>
                {{post.hashtag}}
            </div>
        {%endfor%}
{% endblock %}