{% extends 'base.html' %}

{% block content %}
<a href="{%url 'home'%}">홈화면</a>
    <h1>
        {% if customuser.image %}
        <img src="{{customuser.image.url}}" alt="사진"> 
        {% endif %}
        <p>{{customuser.name}}</p>
        <p>{{customuser.major}}  {{customuser.studentNum}}학번</p></h1>
        <br>
        <a href= "{%url 'see_follower' customuser.pk%}">팔로워</a>: {{ customuser.followers.all|length }}명  <a href= "{%url 'see_following' customuser.pk%}"> 팔로잉</a>  : {{ customuser.followings.count }}명
        <br>
        {% if request.user != customuser %}
        {% with user_followers=customuser.followers.all %}
            {%if request.user in user_followers %}
                <a href="{% url 'follow' customuser.pk %}">팔로잉</a>
            {%else%}
                <a href = "{%url 'follow' customuser.pk%}">팔로우</a>
            {%endif%}
        {%endwith%}
        {%endif%}
        <br>
        <br>
        경력
        {% for career in careers %}
        <br>
        {{career.company}}
        <br>
        {{career.title}}
        {%endfor%}
        <br>
        <br>
        <h2>대학생 활동 경력</h2>
        {% for univ in univs %}
        <br>
        {{univ.universityActivity}}
        <br>
        {{univ.universityTitle}}
        {%endfor%}
        <br>
        <br>
        <h2>게시글</h2>
        {% for post in posts %}
            <div>
                {{post.user}}{{post.major}}
                <br>
                {{post.body}}
                <br>
                {{post.category}}
                <br>
                {{post.hashtag}}
            </div>
        {%endfor%}
{% endblock %}