{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>

<style>
    html, body {
        margin: 0;
        height: 100%;
    }

    .custom-border {
        border: #5B9BD5 1px solid;
    }

    .profile-image {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }
</style>

{% if user.is_authenticated %}
<div class="container h-100">
    <div class="row mb-3 p-3 custom-border">
        <img class="p-0 mb-2 profile-image" src="{{user.profile_image.url}}" alt="프로필 사진"><br>
        <div class="p-0 fs-3 mb-2">{{user.name}}({{user.major}}{{user.studentNum}})</div>
        <div class="p-0">팔로우 {{follower_list | length}}명</div>
        <div class="p-0">팔로잉 {{following_list | length}}명</div>
    </div>
    <div class="row h-50">
        <div class="col-4 me-2 mh-100 overflow-auto custom-border">
            <div class="mt-2 p-1 custom-border">
                <span class="fw-bold">경력</span>
                <ul class="mt-2">
                    {% for career in career_list %}
                    <li>{{career.company}} {{career.title}}
                        {{career.careerYearStart}}.{{career.careerMonthStart}}~{{career.careerYearEnd}}.{{career.careerMonthEnd}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="mt-2 mb-2 p-1 custom-border">
                <span class="fw-bold">대학생 활동 경력</span>
                <ul class="mt-2">
                    {% for univ in univ_list %}
                    <li>{{univ.universityActivity}} {{univ.universityTitle}}
                        {{univ.university_YearStart}}.{{univ.university_MonthStart}}~{{univ.university_YearEnd}}.{{univ.university_MonthEnd}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col ms-2 mh-100 overflow-auto custom-border">
            <div class="mt-2 mb-2 fw-bold">게시글</div>
            {% for post in post_list %}
            <div class="card my-2 custom-border">
                <div class="card-body">
                    <div class="mb-1 d-flex justify-content-end">
                        <a href="{% url 'update' post.id %}"><button class="me-2 btn btn-secondary btn-sm">수정</button></a>
                        <a href="{% url 'delete' post.id %}"><button class="btn btn-danger btn-sm">삭제</button></a>
                    </div>
                    <p class="card-text">{{post.body | slice:":100"}}...<a href="{% url 'detail' post.id %}">더보기</a></p>
                    <p class="category">{{post.category}}</p>
                    <p class="hashtag">{{post.hashtag}}</p>
                    <p class="like">
                        좋아요 {{post.like.all | length}}명
                        <button class="bg-transparent border-0" id="{{post.id}}" onclick="post_like(post.id)">
                            {%if request.user in post.like.all%}
                            <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                            <i id="heart" class="fas fa-heart"></i>
                            {%else%}
                            <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                            <i id="heart" class="far fa-heart"></i>
                            {%endif%}
                        </button>
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<a href="{%url 'login'%}">로그인해주세요</a>
{% endif %}

{% endblock %}