{% extends 'base.html' %}

<style>
    #wrapper2 {display: table;}
    #cell2 {display:table-cell; vertical-align: middle; text-align: center;} 
    a {text-decoration-line:none;}

    #gologinbutton { 
        color: white; 
        font-size: 5px;
        border-radius: 5px;
        padding: 5px 7.5px; 
        margin: 2px 3px;
        border-style : none;
        background-color: #5B9BD5;
        }
</style>

<div id="wrapper2">
    <div id="cell2"> 
        <p style="text-align : center;">가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.</p>
        <br>
        <a href="{%url 'login'%}" id='gologinbutton';>로그인 화면</a>
    </div>
</div>

{% endblock %}
