{% extends 'base.html' %}

{% block content %}
    <div class="container">
            <h3>{{post.user}}{{post.user.major}}</h3>
            {{post.body}} <br>
            {{post.category}} <br>
            {{post.hashtag}} <br>
            {{post.link}}
             <!-- path-converter를 활용하기 위해 detail함수로 넘길때 blog.id까지 같이 넘김 -->
            <br>
            <h2><a href="{%url 'edit' post.id%}">수정하기</a></h2>
            <h2><a href="{%url 'delete' post.id%}">삭제하기</a></h2>    
            <h2><a href="{%url 'home'%}">홈화면</a></h2>
    </div>    

{% endblock %}