{% extends 'base.html' %}

{% block content %}
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    </head>
    <div class="container">
            <h3>{{post.user}}{{post.user.major}}</h3>
            {{post.body}} <br>
            {{post.category}} <br>
            {{post.hashtag}} <br>
            {{post.link}}

             <!--중략-->
            <button id="{{post.id}}" onclick="post_like(this.id)">
                    {%if request.user in post.like.all%}
                    <!-- 로그인 한 유저가 좋아요를 누른 유저일때  -->
                    <i id="heart" class="fas fa-heart"></i>
                    {%else%}
                    <!-- 로그인 한 유저가 좋아요를 누른 유저가 아닐 때  -->
                    <i id="heart" class="far fa-heart"></i>
                    {%endif%}
                    <span id="like_count">{{post.like.count}}</span>
            </button>
            
             <!-- path-converter를 활용하기 위해 detail함수로 넘길때 post.id까지 같이 넘김 -->
            <br>
            <h2><a href="{%url 'edit' post.id%}">수정하기</a></h2>
            <h2><a href="{%url 'delete' post.id%}">삭제하기</a></h2>    
            <h2><a href="{%url 'home'%}">홈화면</a></h2>

            <!-- Start comment test html -->
            {% if user.is_authenticated %}
                <div class="card">
                    <div class="card-header">
                        <div class="col-md-12">
                            {% csrf_token %}
                            <div class="form-group row">
                                <textarea class="form-control" id="comment_content" rows="3" placeholder="댓글을 입력해주세요."></textarea>
                            </div>
                            <div class="text-right" style="float:right">
                                <button id="comment_write" class="btn btn-sm">댓글달기</button>
                            </div>
                        </div>
                        <hr>
                        <div id="comment_container">
                            {% if comments %}
                                {% for comment in comments %}
                                <div id='{{ comment.id }}'>
                                    <strong>{{ comment.user.name }}</strong>{{ comment.user.major }}
                                    <span style="float:right">{{ comment.pub_date|date:'Y-m-d H:i' }}</span>
                                    <div>
                                        <div style="white-space:pre-wrap; text-align:left;">{{ comment.content }}</div>
                                        <div style="text-align: right;">
                                        {% if comment.user == user %}
                                            <button onclick="deleteComment('{{comment.id}}');">삭제</button>
                                        {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                {% endfor %}
                            {% endif %}
                            <input type="hidden" id="comment_writer_id" value={{user.id}}>
                            <div id="comment_list"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- End comment test html -->
    </div>    

    <!-- Start comment javascript -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#comment_write').click(function () {
                let content = $('#comment_content').val();
                let writer_id = $('#comment_writer_id').val();
                if (content.length > 0) {
                    createComment(content, writer_id);
                }
                else {
                    alert('댓글을 입력해주세요.');
                }
            })
        })

        function createComment(content, writer_id) {
            $.ajax({
                type: "POST",
                url: "{% url 'comment_create' post.id %}",
                dataType: "json",
                data: {
                    'writer_id': writer_id,
                    'content': content,
                    'csrfmiddlewaretoken': `{{csrf_token}}`,
                },
                success: function (response) {
                    let tempHtml = addComment(response);
                    $('#comment_list').append(tempHtml);
                    $('#comment_content').val("");
                }
            })
        }

        function addComment(response) {
            return `<div id=${response.comment_id}>
                        <strong>${response.writer_name}</strong>${response.writer_major}
                        <span style="float:right">${response.pub_date.substring(0, 10) + ' ' + response.pub_date.substring(11,16)}</span>
                        <div>
                            <div style="white-space:pre-wrap; text-align:left;">${response.content}</div>
                            <div style="text-align: right;">
                            <button onclick="deleteComment('${response.comment_id}');">삭제</button>
                            </div>
                        </div>
                        <hr>
                    </div>`
        }

        function deleteComment(comment_id) {
            let delete_warning = confirm('댓글을 삭제하시겠습니까?');
            if (delete_warning == true) {
                $.ajax({
                    type: "POST",
                    url: "{% url 'comment_delete' post.id %}",
                    dataType: "json",
                    data: {
                        'comment_id': comment_id,
                        'csrfmiddlewaretoken': `{{csrf_token}}`,
                    },
                    success: function (response) {
                        alert('성공적으로 삭제되었습니다.');
                        window.location.reload();
                    }
                })
            }
        }
    </script>
    <!-- End comment javascript -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function post_like(id) {
            console.log("hi")
            $.ajax({
                url: "{%url 'likes'%}", // data를 전송할 url 입니다.
                data: {
                    'post_id': id
                }, // post_id 라는 name으로 id 값 전송
                dataType: "json",
                success: function (response) { // ajax 통신이 정상적으로 완료되었을 때
                    $('#like_count').html(response.like_count) //id가 like_count의 내용을 전송받은 좋아요 수로 바꾼다
                    $('#message').html(response.message) //id가 message의 내용을 전송받은 message로 바꾼다
                    $('.toast').fadeIn(400).delay(100).fadeOut(400)
                    if (response.message == "좋아요")
                    //좋아요 눌렀을 때 
                    {
                        $('#heart').attr("class", "fas fa-heart")
                    } else if (response.message == "좋아요 취소")
                    //좋아요 상태에서 다시 눌렀을 때 
                    {
                        $('#heart').attr("class", "far fa-heart")
                    }
                }
            })
        }
    </script>

{% endblock %}