{% extends 'base.html' %}

{% block content %}
<h1>Edit your Post</h1>
{% endif %}
<form action="{% url 'create' %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{post.as_p}}
    <input type="text" name = "name" value={{user.name}}>
    <input type="text" name = "major" value={{user.major}}>
    <input type="text" name = "career" value={{user.career1Title}}>
    <button type="submit"> submit </button>
    <!-- <a href="create/?name={{user.name}}&major={{user.major}}&career={{user.career1Title}}"> <button type="submit"> submit </button> </a> -->
</form>
{% endblock %}