{% extends 'base.html' %}

{% block content %}
<style>
	.wrapper {
		margin-top: 40%;
	}
	
	.text {
		font-size: 2rem;
	}

	button {
		color: white; 
        font-size: 5px;
        border-radius: 5px;
        padding: 5px 7.5px; 
        margin: 2px 3px;
        border-style : none;
        background-color: #5B9BD5;
	}
</style>
<div class = "container text-center">
	<br>
	<div class="text mb-3">
		반갑습니다 <strong>{{request.user.name}}</strong>님😎<br>
		서비스 이용을 위해 이메일 인증을 완료해주세요. 감사합니다!!
	</div>
	<a href="{%url 'logout'%}"><button>로그아웃</button></a>
</div>
{% endblock %}